<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="local-packages" value="local-packages" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="local-packages">
      <package pattern="MarkdownServer" />
    </packageSource>
  </packageSourceMapping>
  <config>
    <add key="http-request-timeout" value="600000" />
    <add key="maxHttpRequestsPerSource" value="16" />
  </config>
</configuration>
